.page1{
 background-image: url(../images/boa-pizza.jpg);
 height: 100vh;
 background-size: cover;
 width: 100%;
 background-repeat: no-repeat;
 

}
#title{
  color: antiquewhite;
  font-weight: bold;
  font-size: large;
}